*.onnx
*.pt
*.pth
__pycache__/
*.pyc
.env
.venv/
dataset_overall/
train/
val/
test/
results/
results_new/
dataset_augmented/
feedback_data/
scraped_public_dataset/
weak_classes/
*.jpg
*.jpeg
*.png
*.webp
.git/
